{% extends "default.html" %}
{% load static i18n %}
{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Calendar</h2>
        </div>
        <div class="card-body">
            <div id="fullcalendar"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById('fullcalendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 'auto',
            themeSystem: 'bootstrap',
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: function (info, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'scheduleChk' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        start: moment(info.startStr).format('YYYY-MM-DD'),
                        end: moment(info.endStr).format('YYYY-MM-DD')
                    },
                    success: function (data) {
                        var events = [];

                        if (data != null) {
                            $.each(data.doc_data, function (index, element) {
                                console.log(element);
                                var startdate = moment(element.fields.start_date).format('YYYY-MM-DD');
                                var enddate = moment(element.fields.end_date).format('YYYY-MM-DD');
                                var status = element.fields.status;
                                if (status == "P") {
                                    events.push({
                                        title: "[배포완료] "+element.fields.title,
                                        start: startdate,
                                        end: enddate,
                                        url: "{% url 'docReg' %}?id=" + element.pk,
                                        color: "#84c2f2"
                                    });
                                } else if (status == "C") {
                                    events.push({
                                        title: "[취합완료] "+element.fields.title,
                                        start: startdate,
                                        end: enddate,
                                        url: "{% url 'docReg' %}?id=" + element.pk,
                                        color: "#e6f284"
                                    });
                                }
                            });
                            $.each(data.share_data, function (index, element) {
                                var startdate = moment(element.fields.start_date).format('YYYY-MM-DD');
                                var enddate = moment(element.fields.end_date).format('YYYY-MM-DD');
                                var status = element.fields.status;

                                if (status == "R") {
                                    events.push({
                                        title: "[작성필요] "+element.fields.title,
                                        start: startdate,
                                        end: enddate,
                                        url: "{% url 'shareDocDetail' %}?id=" + element.pk,
                                        color: "#f4aa8c"
                                    });
                                } else if (status == "T") {
                                    events.push({
                                        title: "[작성필요] "+element.fields.title,
                                        start: startdate,
                                        end: enddate,
                                        url: "{% url 'shareDocDetail' %}?id=" + element.pk,
                                        color: "#f4aa8c"
                                    });
                                } else if (status == "C") {
                                    events.push({
                                        title: "[제출완료] "+element.fields.title,
                                        start: startdate,
                                        end: enddate,
                                        url: "{% url 'shareDocDetail' %}?id=" + element.pk,
                                        color: "#e6f284"
                                    });
                                }

                            });
                        }                           
                        successCallback(events);
                    }
                });
            }
        });
        setTimeout(function () {
            calendar.render();
        }, 250)
    });
</script>
{% endblock inline_javascript %}