
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<link href="{% static 'css/upload.css' %}" rel="stylesheet" > 
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}

.tab .nav-tabs .nav-link.active {
  border:1px solid !important;
  border-color:#ddd !important;
}

.tab .tab-content {
  border:1px solid !important;
  border-color:#ddd !important;
}

/* .nav-item a {
  
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}	 */
</style>
{% endblock %}

{% block content %}

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="padding:20px 0px 0px 22px">
            <h5 class="card-title">
              {% if data.id %}
                문서 내용보기
              {% else %}
                문서 작성 
              {% endif %}
              </h5>
          </div>
          <div class="card-body" >
            <div class="text-lg-end">
                <div class="btn-group">
                  <button type="button" class="btn btn-instagram dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="align-middle me-2 fas fa-fw fa-paper-plane"></i>공유
                  </button>
                  <div class="dropdown-menu" >
                    <a id ="shareBtn" class="dropdown-item io-input" href="#">
                      <i class="align-middle me-2 fas fa-fw fa-address-book "></i>
                      공유자선택
                    </a>
                    <a id ="shareViewBtn" class="dropdown-item" href="#">
                      <i class="align-middle me-2 fas fa-fw fa-address-card"></i>
                      공유자목록보기
                    </a>
                  </div>
                </div>
                
                <button id ="save" class="btn btn-outline-success io-inputShow" >수정하기</button>
                <div class="btn-group io-input io-inputHide">
                  <button id="saveListBtn" type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    저장하기
                  </button>
                  <div class="dropdown-menu" >
                    <a id ="saveDropdown" class="dropdown-item" href="#">
                      <i class="align-middle me-2 fas fa-fw fa-toggle-on"></i>
                      저장
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="align-middle me-2 fas fa-fw fa-toggle-off"></i>
                      임시저장
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="align-middle me-2 fas fa-fw fa-save"></i>
                      완료
                    </a>
                  </div>
                </div> 
                   
                <button id ="export-file" class="btn btn-outline-success io-input">엑셀내보내기</button>
                <button id ="fileUploadBtn" class="btn btn-outline-success my-1 io-input" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Excel 업로드</button>
                <button id="templBtn" class="btn mb-1 btn-success io-input" style="margin-top:4px;"><i class="align-middle me-2 fas fa-fw fa-th"></i> 템플릿</button>
                <button id="searchBtn" class="btn mb-1 btn-success io-input" style="margin-top:4px;"><i class="align-middle me-2 fas fa-fw fa-search-plus"></i> 단어로찾기</button>
                {% if data.id %}
                <button id="deleteBtn" class="btn mb-1 btn-instagram" style="margin-top:4px;"><i class="align-middle me-2 fas fa-fw fa-trash-alt"></i> 삭제</button>
                {% endif %}                
            </div>                
            <form id="frm">
              <input type="hidden" id="shareUser" name="shareUser" value="{{shareUser}}" />
              <input type="hidden" id="id" name="id" value="{{ data.id }}" />
              <input type="hidden" id="start_date" name="start_date" value="{{ data.start_date|date:'Y.m.d' }}" />
              <input type="hidden" id="end_date" name="end_date" value="{{ data.end_date|date:'Y.m.d' }}" />
              <input type="hidden" id="json_data" name="json_data" value="" />
              <input type="hidden" id="status" name="status" value="P" />
              <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-right">제목</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control io-inputAttr" id="title" name ="title" placeholder="" value="{{ data.title }}">
                  <label id="title-error" class="error jquery-validation-error small form-text invalid-feedback" for="validation-required" ></label>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-right">기간 설정</label>
                <div id="reportrange" class="overflow-hidden col-sm-10 form-control dateShow" style="width:210px;margin-left:12px;">
                  <i class="far fa-calendar"></i>&nbsp;
                  <span></span> <i class="fas fa-caret-down"></i>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-right">메모</label>
                <div class="col-sm-10">
                  <textarea class="form-control io-inputAttr" name ="memo" id="memo" style="height: 100px">{{ data.memo }}</textarea>
                  <label id="memo-error" class="error jquery-validation-error small form-text invalid-feedback" for="validation-required" ></label>
                </div>
              </div>                                                       
            </form>
            <div class="col-12">
							<div class="tab" id="myTab">
								<ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link plusBtn io-input" href="#tab-1" data-bs-toggle="tab" role="tab"><i class="align-middle me-2 fas fa-plus"></i></a></li>
									<li class="nav-item"><a class="nav-link active" href="#tab-2" data-bs-toggle="tab" role="tab"><span>Sheet1</span></a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab-2" role="tabpanel">
                    <div id="excelGrid" class="excelGridClass"> </div>
									</div>                              
								</div>                
							</div>
						</div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block layerHtml %}
    
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Excel Upload</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      {% include "document/uploadIn.html" %}
    </div>
  </div>
</div> 

{% endblock layerHtml %}

{% block inline_javascript %}

<script src="{% static 'js/handsonTable.min.js' %}"></script>
<script src="{% static 'js/handsonTable.js' %}"></script>
<script src="{% static 'js/handsonLangKo.js' %}"></script>
<script src="{% static 'js/tabExcel.js' %}"></script>
<script>
    
  const container = document.querySelector('#excelGrid');
  const save = document.querySelector('#save');
  const id = $('#id').val();

  hotObj = Array();
  navAtag = '';
  newTabNum = 1;
  updateCheck = 1;

  showExcelTable(container);

  /**
   * 탭 관련 시크립트
   **/
  $(document).on("click", ".nav-tabs li a", function(){

    let id = $(this).data('id');
    let len = $('.nav-tabs li').length;

    if(len <= 2) return; 
    let deleteBtn = '<i class="align-middle me-2 fas fa-fw fa-times position-absolute" style="margin-top:-5px!important;color:#e7adc5;"></i>';
    $('.fa-times').remove();
    if(updateCheck == 1) $(this).append(deleteBtn);
    
    if(id) hotObj[id].render();

  });

  $(document).on("dblclick", ".nav-tabs li", function(){

    if(updateCheck == 2) return;

    navAtag = $(this).html();
    let getText = $.trim($(this).find('a').text());
    let getHtml = '<input type="text" class="form-control" value="'+getText+'" />';
    $(this).html(getHtml);
    $(this).find('input').focus();

  });

  $(document).on("focusout", ".nav-tabs li input", function(){
    
    let getText = $.trim($(this).val());
    $(this).parent().html(navAtag);
    $('.nav-tabs li .active span').text(getText);
  });

  $(document).on("keydown", ".nav-tabs li input", function(e){
    let keycode = e.keyCode;
    if(keycode == 13) {
      $(this).trigger('focusout');
    }

  });

  /**
   * 버튼 관련 시크립트
   **/
const exportPlugin = hot.getPlugin('exportFile');
const button = document.querySelector('#export-file');

  save.addEventListener('click', () => {

    if(updateCheck == 2) {
      updateCheck = 1;
      ioAction();
      return;
    }

    let from = $('#frm');
    $('#json_data').val(excelDataMake());

      $.ajax({        
        type : 'POST',
        url : "{% url 'docSave' %}",        
        dataType : 'json',        
        data : from.serialize(),
        success : function(data) {
          
          if (!data.form.length) {
            alert(data.msg);
          } else {
            formError(data.form);
          } 
        }
      });          
    });

  button.addEventListener('click', () => {
    exportPlugin.downloadFile('csv', {
      bom: false,
      columnDelimiter: ',',
      columnHeaders: false,
      exportHiddenColumns: true,
      exportHiddenRows: true,
      fileExtension: 'csv',
      filename: 'Handsontable-CSV-file_[YYYY]-[MM]-[DD]',
      mimeType: 'text/csv',
      rowDelimiter: '\r\n',
      rowHeaders: true
    });
  });

  
  $('#saveDropdown').click(function(){
    $('#save').trigger('click');
  });

  $('.plusBtn').click(function(){

    if(updateCheck == 2) return;

    newTabNum = newTabNum +1;
    let len = newTabNum
    let name = 'New'+len;
    let obj = [name];
    let title = ['sheet'+len];

    tabOpen(obj,title);

    setTimeout(function(){
      let tabEl = document.querySelector('#myTab li:last-child a')
      let tab = new bootstrap.Tab(tabEl)
      tab.show();
      tabEl.click();
        }, 100)  
  });

  $(document).on("click", ".fa-times", function(){
    let con = confirm('시트를 지울까요?');
    if(con == false) return;

    let navActive = $('.nav-item > .active');
    let navActiveAdd = navActive.closest('li').next().find('a')
    if(navActiveAdd.length == 0 ) navActiveAdd = navActive.closest('li').prev().find('a')
    
    navActive.unwrap();
    navActive.remove();
    $('.tab-content .active').remove();

    let tab = new bootstrap.Tab(navActiveAdd);
    tab.show();
  });

  $('#uploadBtn').click(function(){

    var form = new FormData();    
    form.append( "file1", filesVal[0],filesVal[0].name );

    $.ajax({
        url : "{% url 'docUpload' %}"
      , type : "POST"
      , processData : false
      , contentType : false
      , data : form
      , success:function(data) {
        let len = $('.nav-tabs li').length;
        let name = 'New'+len;
        let obj = [name];
        let title = [filesVal[0].name]
        tabOpen(obj,title,'local',data.data,'uploadFile');

        uploadFiles = [];
        $('#files > .fileDiv').remove();
        $('#offcanvasRight').offcanvas('hide');
          
      }
      ,error: function (jqXHR) 
      { 
          alert(jqXHR.responseText); 
      }
    });
  });

  $(document).on("click", "#templBtn", function(){
    window.open("{% url 'docToSearchList' %}",'templPop','resizable=yes,width=1000,height=800');
  });

  $(document).on("click", "#searchBtn", function(){
    window.open("{% url 'docSearchList' %}",'searchPop','resizable=yes,width=1000,height=800');
  });

  $(document).on("click", "#shareBtn", function(){
    window.open("{% url 'selectUserList' %}",'selectUserPop','resizable=yes,width=1100,height=800');
  });

  $(document).on("click", "#shareViewBtn", function(){
    window.open("{% url 'selectUserList' %}?v=v",'selectUserPop','resizable=yes,width=1100,height=800');
  });

  

  $(document).on("click", "#deleteBtn", function(){
    let con = confirm('삭제 할까요?');
    if(con == false) return;

    $.ajax({
         url : "{% url 'docDelete' %}"
       , type : "POST"
       , data : {id:id}
       , success:function(data) {
          alert('삭제되었습니다.');
          location.href="{% url 'docLoadList' %}";
           
       },
       error: function (jqXHR) 
       { 
           alert(jqXHR.responseText); 
       }
    });
   });

// 날짜 기본값 넣기
  start = moment();
  end   = moment().subtract(-6, "days");
  setDate('start_date','end_date');

// 네비 좌표설정
if (id) {
  //수정일때
  updateCheck = 2;
  ioAction();

  navFun('documentManage',1,1);
} else {
  navFun('documentManage',1,0);
}
  const dataUrl = '/document/docJsonData/'  ;
  if(id != '')  loadExcelData(id, dataUrl);
  const dropFile = new DropFile("drop-file", "files");

</script>


{% endblock inline_javascript %}