{% extends "blankUi.html" %}

{% block title %}파일 업로드{% endblock %}
{% block css %}
<link href="/static/css/upload.css" rel="stylesheet" >  
{% endblock %}
{% block content %}
<div class="contents">
  <div class="upload-box">
    <div id="drop-file" class="drag-file">
        <img src="/static/img/fileImg.jpg" style="width:100px;height:100px;">
      <p class="message">여기에 파일을 넣어주세요.</p>
    </div>
    <label class="file-label" for="chooseFile">파일 선택</label>
    <input class="file" id="chooseFile" type="file" multiple onchange="dropFile.handleFiles(this.files)">
  </div>
  <div id="files" class="files">
    <div class="file">
      <div class="thumbnail">        
      </div>
      <div class="details">
      </div>
    </div>
  </div>
  <div class="" style="text-align:center">
    <button id ="uploadBtn" class="btn btn-success">저장하기</button> 
  </div>
</div>
</div>    
{% endblock %}

{% block inline_javascript %}
<script>

var filesVal ="";
var uploadFiles = [];

function DropFile(dropAreaId, fileListId) {
    let dropArea = document.getElementById(dropAreaId);
    let fileList = document.getElementById(fileListId);
  
    function preventDefaults(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  
    function highlight(e) {
      preventDefaults(e);
      dropArea.classList.add("highlight");
    }
  
    function unhighlight(e) {
      preventDefaults(e);
      dropArea.classList.remove("highlight");
    }
  
    function handleDrop(e) {
      unhighlight(e);
      let dt = e.dataTransfer;
      let files = dt.files;
  
      handleFiles(files);
  
      const fileList = document.getElementById(fileListId);
      if (fileList) {
        fileList.scrollTo({ top: fileList.scrollHeight });
      }
    }
  
    function handleFiles(files) {
      console.log(files[0].name);
      var reg = /(.csv|.xls|.xlsx)$/;
      
      console.log(files[0].name.match(reg))
      if (!files[0].name.match(reg)) {
        alert("확장자는 엑셀 확장자만 가능합니다.");
        return;
      }

      uploadFiles.push(files);
      if(uploadFiles.length >=2) {
        alert("하나 이상은 안됩니다.");
        return;
      }
      filesVal = files;      
      files = [...files];            
      files.forEach(previewFile);

      
    }
  
    function previewFile(file) {
      
      fileList.appendChild(renderFile(file));
    }
  
    function renderFile(file) {
      let fileDOM = document.createElement("div");
      fileDOM.className = "file";
      fileDOM.innerHTML = `
        <div class="thumbnail">
          <img src="/static/img/fileImg.jpg" alt="파일타입 이미지" class="image">
        </div>
        <div class="details">
          <header class="header">
            <span class="name">${file.name}</span>
            <span class="size">${file.size}</span>
          </header>
          <div class="progress">
            <div class="bar"></div>
          </div>
          <div class="status">
            <span class="percent">100% done</span>
            <span class="speed">90KB/sec</span>
          </div>
        </div>
      `;
      return fileDOM;
    }
  
    dropArea.addEventListener("dragenter", highlight, false);
    dropArea.addEventListener("dragover", highlight, false);
    dropArea.addEventListener("dragleave", unhighlight, false);
    dropArea.addEventListener("drop", handleDrop, false);
  
    return {
      handleFiles
    };
  }
  
  const dropFile = new DropFile("drop-file", "files");

  
$('#uploadBtn').click(function(){

    var form = new FormData();    
    form.append( "file1", filesVal[0],filesVal[0].name );
    
    
     jQuery.ajax({
         url : "{% url 'docUpload' %}"
       , type : "POST"
       , processData : false
       , contentType : false
       , data : form
       , success:function(response) {
           
       }
       ,error: function (jqXHR) 
       { 
           alert(jqXHR.responseText); 
       }
   });
});
</script>
{% endblock inline_javascript %}