
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
{% endblock %}

{% block content %}
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">게시판</h5>
									<!-- <h6 class="card-subtitle text-muted">The searching functionality provided by DataTables is useful for quickly search through the information in the table. See official documentation <a href="https://datatables.net/examples/api/multi_filter_select.html"
										 target="_blank" rel="noopener noreferrer nofollow">here</a>.</h6> -->
								</div>
								<div class="card-body">
									<table id="datatables-column-search-select-inputs" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>번호</th>
												<th>제목</th>
												<th>작성자</th>
												<th>작성일</th>
												<th>조회수</th>
											</tr>
										</thead>
										<tbody>
                      {% for post in posts %}
											<tr>
												<td>{{post.id}}</td>
												<td>{{post.title}}</td>
												<td>{{post.user_id}}</td>
												<td>{{post.registered_date}}</td>
												<td>{{post.view_count}}</td>
											</tr>
                      {% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<th>id</th>
												<th>title</th>
												<th>user_id</th>
												<th>registered_date</th>
												<th>view_count</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
{% endblock %}

{% block inline_javascript %}
<script>
  // DataTables with Column Search by Select Inputs
  document.addEventListener("DOMContentLoaded", function() {
    $('#datatables-column-search-select-inputs').DataTable({
      // initComplete: function() {
      //   this.api().columns().every(function() {
      //     var column = this;
      //     var select = $('<select class="form-control"><option value=""></option></select>')
      //       .appendTo($(column.footer()).empty())
      //       .on('change', function() {
      //         var val = $.fn.dataTable.util.escapeRegex(
      //           $(this).val()
      //         );
      //         column
      //           .search(val ? '^' + val + '$' : '', true, false)
      //           .draw();
      //       });
      //     column.data().unique().sort().each(function(d, j) {
      //       select.append('<option value="' + d + '">' + d + '</option>')
      //     });
      //   });
      // },
      paging: true,
      ajax
    });
  });
</script>
{% endblock inline_javascript %}