
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
{% endblock %}

{% block content %}
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">공지사항</h5>
								</div>
								<div class="card-body">
									<table id="datatables" class="table table-hover table-striped text-center" style="width:100%;cursor: pointer;">
										<thead>
											<tr>
												<th>번호</th>
												<th>제목</th>
												<th>작성자</th>
												<th>작성일</th>
												<th>조회수</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
              <a href="{% url 'postReg' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> 작성 </a>
						</div>
					</div>

				</div>
{% endblock %}

{% block inline_javascript %}
<script>
  $('#datatables').DataTable({
      serverSide: true,
	    processing: true,
      ordering:  true,
      paging: true,
	    language : lang_kor,
	    order: [[0, 'desc']],
      ajax: { 
              type: "GET",
              datatype : 'json',
              url: "{% url 'getBoardListData' %}", 
            },		
      columns: [
					{"data": "id",
					  render: function (data, type, row, meta) {
						return meta.row + meta.settings._iDisplayStart + 1;
					}},
					{ data: "title"},
          { data: "user_id"},
          {'data': "registered_date",    
            "render": function (data) { return dateFormat(data)}
          },
          { data: "view_count"},               
      ],
	    columnDefs: [		
					{ "name": "id",   "targets": 0 },
					{ "name": "title",  "targets": 1, "className": "text-leftIm" },
					{ "name": "user_id", "targets": 2 },
					{ "name": "registered_date",  "targets": 3 },
          { "name": "view_count", "targets": 4 },
	    ]				
    });

	$("#datatables").on('click', 'tbody tr', function () {

		let row = $("#datatables").DataTable().row($(this)).data();		
		location.href="{% url 'frameReg' %}?id="+row.id
	});
	
	navFun('bbs',2,0)
</script>
{% endblock inline_javascript %}