
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"></h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label" for="inputEmail4">작성자</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="email" disabled>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="title">제목</label>
              <input type="text" class="form-control" id="title" value="{{ rs.title }}" readonly>
            </div>
            <div class="mb-3">
              <label class="form-label" for="content">내용</label>
              <textarea id="content" class="form-control" rows="10" readonly >{{ rs.content|safe }}</textarea>
            </div>            
            {% for file in fileRs %}
            <label class="form-label" for="file">첨부파일</label>
            <div class="form-control mb-3">
              <a href="{% url 'fileDownload' id=file.id %}">{{ file.file_name }}</a>
            </div>
            {% endfor %}
          </form>
          {% if rs.user_id == request.user.username %}
          <button id="update" class="btn btn-primary">수정</button>
          {% endif %}
          <button id="list" class="btn btn-primary">목록</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block inline_javascript %}
<script>
const list = document.querySelector('#list');
const update = document.querySelector('#update');

list.addEventListener('click',() => {
  location.href = "{% url 'indexPage' %}?page={{request.GET.page}}&pageLen={{request.GET.pageLen}}"
})

update.addEventListener('click', () => {
  location.href = "{% url 'postReg' %}?id={{rs.id}}"
})
</script>
{% endblock inline_javascript %}