
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"></h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label" for="inputEmail4">작성자</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="email" disabled>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="title">제목</label>
              <input type="text" class="form-control" id="title" value="{{ rs.title }}" readonly>
            </div>
            <div class="mb-3">
              <label class="form-label" for="content">내용</label>
              <textarea id="content" class="form-control" rows="10" readonly >{{ rs.content|safe }}</textarea>
            </div>
            <div class="mb-3">
              첨부파일 넣을거얌
            </div>
          </form>
          <button id="list" class="btn btn-primary">돌아가기</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block inline_javascript %}
<script>
const list = document.querySelector('#list');

list.addEventListener('click',() => {
  location.href = "{% url 'indexPage' %}"
})
</script>
{% endblock inline_javascript %}