
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
{% endblock %}

{% block content %}
    <div id="example1"></div>
{% endblock %}

{% block inline_javascript %}

<script>

</script>
<script src="{% static 'js/handsonTable.min.js' %}"></script>
<script src="{% static 'js/handsonLangKo.js' %}"></script>
<script>
    
    const container = document.querySelector('#example1');

const hot = new Handsontable(container, {
  data: [
    ['', 'Tesla', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
    ['2017', 10, 11, 12, 13, 15, 16],
    ['2018', 10, 11, 12, 13, 15, 16],
    ['2019', 10, 11, 12, 13, 15, 16],
    ['2020', 10, 11, 12, 13, 15, 16],
    ['2021', 10, 11, 12, 13, 15, 16]
  ],
  rowHeaders: true,
  colHeaders: true,
  contextMenu: true,
  height: 'auto',
  language: 'ko-KR',
  licenseKey: 'non-commercial-and-evaluation'
});
</script>
{% endblock inline_javascript %}