
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">공지사항 작성</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label" for="inputEmail4">작성자</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="email" disabled>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="title">제목</label>
              <input type="text" class="form-control" id="title" placeholder="제목을 작성해주세요">
            </div>
            <div class="mb-3">
              <label class="form-label" for="conent">내용</label>
              <textarea id="conent" class="form-control" rows="10" placeholder="내용을 작성해주세요"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block inline_javascript %}
<script>

</script>
{% endblock inline_javascript %}