
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">공지사항 작성</h5>
        </div>
        <div class="card-body">
          <form id="frm">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label" for="inputEmail4">작성자</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="email" disabled>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="title">제목</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="제목을 작성해주세요" value="{{ data.title }}">
              <label id="title-error" class="error jquery-validation-error small form-text invalid-feedback" for="validation-required" ></label>
            </div>
            <div class="mb-3">
              <label class="form-label" for="content">내용</label>
              <textarea id="content" name="content" class="form-control" rows="10" placeholder="내용을 작성해주세요" >{{ data.content|safe }}</textarea>
              <label id="content-error" class="error jquery-validation-error small form-text invalid-feedback" for="validation-required" ></label>
            </div>
            <div class="mb-3">
              <label class="form-label w-100">파일 첨부</label>
              <input type="file" id="attachFile" name="attachFile">
              {% if fileRs %}
                  <ul class="list-group">
                  {% for file in fileRs %}
                    <li class="list-group-item">
                      <span>{{ file.file_name }} </span> <i data-id = "{{file.id}}" class="align-middle me-2 fas fa-fw fa-times deleteFileBtn"></i>
                    </li>                
                  {% endfor %}
                  </ul>
              {% endif %}
            </div>
            <input type="hidden" class="form-control" id="category" name="category" value="1">
            <input type="hidden" id="id" name="id" value="{{data.id}}">
          </form>
          <button id = "save" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block inline_javascript %}
<script>
  const save = document.querySelector('#save');
  
  save.addEventListener('click', () => {
    $("#frm").ajaxForm({
      type : 'post',
			url : "{% url 'postSave' %}",
			enctype : "multipart/form-data",
			dataType : "json",
      processData : false,
			error : function(){
				alert("에러") ;
			},
			success : function(data){
        let formLen = data.form.length;
        if(formLen == 0 || typeof(formLen) =='undefined'){
          alert(data.msg);
          location.href="{% url 'postDetailView' %}?id="+data.returnId;
        }else{
          formError(data.form);
        }
			}
		}).submit();
  });

  $('.deleteFileBtn').click(function(){
    let boolean = confirm("삭제하시겠습니까?");
    if(boolean == false){
      return 
    }
    let th = $(this);
    let id = th.data('id');

    $.ajax({        
      type : 'POST',
      url : "{% url 'fileDelete' %}",        
      dataType : 'json',        
      data : {id:id},
      success : function(data) {
        if (data.result == 1) {          
          th.closest('li').empty();
        } else {
          alert("실패");
        } 
      }
    });         
  })
</script>
{% endblock inline_javascript %}