
{% extends "blankUi.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
	--bs-offcanvas-width:70%!important;
}
.tab .nav-tabs .nav-link.active {
  border:1px solid !important;
  border-color:#ddd !important;
}

.tab .tab-content {
  border:1px solid !important;
  border-color:#ddd !important;
}
</style>
{% endblock %}

{% block content %}
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">템플릿 조회</h5>
					</div>
					<div class="card-body">
						<table id="datatables" class="table table-hover table-striped text-center" style="width:100%;cursor: pointer;">
							<thead >
								<tr >
									<th><input type="checkbox" name="checkall" class="" id="checkall"></th>
									<th>번호</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block layerHtml %}
    
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">본문보기</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
		<div class="tab" id="myTab">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item"><a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab"><span>Sheet1</span></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab-1" role="tabpanel">
					<div id="excelGrid" class="excelGridClass"></div>
				</div>                              
			</div> 
  </div>
</div> 
{% endblock layerHtml %}

{% block inline_javascript %}
<script src="{% static 'js/handsonTable.min.js' %}"></script>
<script src="{% static 'js/handsonTable.js' %}"></script>
<script src="{% static 'js/handsonLangKo.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>
<script>

window.resizeTo(1100,800);
const container = document.querySelector('#excelGrid');
showExcelTable(container);
hotObj = Array();

function loadExcelData(id){
    $.ajax({        
      type : 'POST',
      url : "{% url 'frameJsonData' %}",        
      dataType : 'json',        
      data : {id:id},
      success : function(data) {
        
        let json_data = JSON.parse(data.data[0].fields.json_data.replace(/'/gi, "\""));  
        let style_data = data.data[0].fields.style_data;
		style_data = style_data.replace(/False/ig,"'False'").replace(/True/ig,"'True'");
        if(style_data !='') style_data = JSON.parse(style_data.replace(/'/gi, "\"")); 

        hot.loadData(json_data);
        $.each(style_data,function(idx,item){
          hot.setCellMetaObject(item.row, item.col, item);
        });
        hot.render();
      }
    }); 
}

var table = $('#datatables').DataTable({
	serverSide: true,
	processing: true,
	ordering:  true,
	paging: true,
	language : lang_kor,
	select: {
				style: 'multi',
				selector: 'td:first-child'
				},
	order: [[1, 'desc']],
	ajax: { 
			type: "GET",
			datatype : 'json',
			url: "{% url 'docToSearchListData' %}",
			data: function ( d ) {
				return $.extend( {}, d, {
					"extra_search": $('#select').val()
					} );
				},
			},		
	columns: [
					{"data": "id",
					render: function (data, type, row, meta) {
						return '';
					}},
					{"data": "id",
					render: function (data, type, row, meta) {
						return meta.row + meta.settings._iDisplayStart + 1;
					}},
					{ data: "title"},
					{ data: "email"},
					{'data': "create_date",    
					"render": function (data) { return dateFormat(data)}
					},               
				],
	columnDefs: [		
					{ "data": 1, "orderable": false, "className": 'select-checkbox',"targets": 0},
					{ "name": "id",   "targets": 1 },
					{ "name": "title",  "targets": 2 ,"className": "text-leftIm title"},
					{ "name": "email", "targets": 3 },
					{ "name": "create_date",  "targets": 4 }
	],
	initComplete: function(settings, json) {
		$("#checkall").prop("checked",false);
		$("#checkall").click(function(){
		if($(this).prop("checked")){
			table.rows().select();
		}
		else {
			table.rows().deselect();
		}
		});
	},
	dom: 'Bfrtip',
		buttons: [
			{
				text: '탭에 넣기',
				action: function ( e, dt, node, config ) {
					let obj = table.cells('.selected',0).data();
					let objTitle = table.cells('.selected',2).data();
					let openerLen = opener.$('.nav-tabs li').length;
					let checkSize = openerLen+objTitle.length;

					if (obj.length ==0) {
						alert('최소 하나는 선택하셔야 합니다.');
						return;
					}

					if (checkSize > 10) {
						//alert('10개이상은 추가가 불가능합니다');
						//return;
					}
					
					opener.tabOpenCallingTempl(obj,objTitle,'ajax');
					window.close();
				}
			}
		]				
});

$("#datatables").on('click', 'tbody tr .title', function () {

	let row = $("#datatables").DataTable().row($(this)).data();	
	
	// 데이터 그리기
	loadExcelData(row.id);
	
	$('#offcanvasRight').offcanvas('show');	

});

$(document).on("click", ".nav-tabs li a", function(){
	let id = $(this).data('id');

	if(!id) return; 
	if(id) hotObj[id].render();

});
	
	
</script>

{% endblock inline_javascript %}