
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">템플릿 생성</h5>
          </div>
          <div class="card-body" >
            <form>
              <div class="mb-3">
                <label class="form-label">제목</label>
                <input type="text" id="title" class="form-control" placeholder="제목">
              </div>              
            </form>            
            <div id="excelGrid">
              <div>
                <span id ="save">
                  저장하기
                </span>
              </div>            
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block inline_javascript %}

<script src="{% static 'js/handsonTable.min.js' %}"></script>
<script src="{% static 'js/handsonLangKo.js' %}"></script>
<script>
    
    const container = document.querySelector('#excelGrid');
    const save = document.querySelector('#save');

const hot = new Handsontable(container, {
  data:Handsontable.helper.createSpreadsheetData(30, 30),
  rowHeaders: true,
  colHeaders: true,
  contextMenu: true,
  comments: true,
  height: 'auto',
  language: 'ko-KR',
  mergeCells:[],
  cells(row) {
    return {
    	className: row % 2 === 0 ? 'even' : 'odd',
    };
  },
  licenseKey: 'non-commercial-and-evaluation'
});

save.addEventListener('click', () => {

    $.ajax({        
      type : 'POST',
      url : "{% url 'frameViewSave' %}",        
      dataType : 'json',        
      data : {
        title:$('#title').val(),
        data: JSON.stringify(hot.getData())},
      success : function(data) {
        alert(data.msg)
      }
    });          
  });

  navFun('template',0,0)
</script>
{% endblock inline_javascript %}