
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}
    <div id="example1"></div>
    <div>
      <span id ="save">
        저장하기
      </span>
    </div>
{% endblock %}

{% block inline_javascript %}

<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });
</script>


<script src="{% static 'js/handsonTable.min.js' %}"></script>
<script src="{% static 'js/handsonLangKo.js' %}"></script>
<script>
    
    const container = document.querySelector('#example1');
    const save = document.querySelector('#save');

const hot = new Handsontable(container, {
  // data: [
  //   ['', 'Tesla', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
  //   ['2017', 10, 11, 12, 13, 15, 16],
  //   ['2018', 10, 11, 12, 13, 15, 16],
  //   ['2019', 10, 11, 12, 13, 15, 16],
  //   ['2020', 10, 11, 12, 13, 15, 16],
  //   ['2021', 10, 11, 12, 13, 15, 16]
  // ],
  data:Handsontable.helper.createSpreadsheetData(30, 30),
  rowHeaders: true,
  colHeaders: true,
  contextMenu: true,
  comments: true,
  height: 'auto',
  language: 'ko-KR',
  mergeCells:[],
  cells(row) {
    return {
    	className: row % 2 === 0 ? 'even' : 'odd',
    };
  },
  licenseKey: 'non-commercial-and-evaluation'
});

save.addEventListener('click', () => {
  // save all cell's data
  fetch("{% url 'frameViewSave' %}", {
    method: 'POST',
    mode: 'no-cors',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ data: hot.getData() })
  })
    .then(response => {
      exampleConsole.innerText = 'Data saved';
      console.log('The POST request is only used here for the demo purposes');
    });
});
</script>
{% endblock inline_javascript %}