
{% extends "default.html" %}
{% load static i18n %}
{% block css %}
<link href="{% static 'css/handsonTable.css' %}" rel="stylesheet" class="js-stylesheet">
<style>
  .handsontable .odd {
 background: #fff 
}
.handsontable .even {
  background: #eee
}
</style>
{% endblock %}

{% block content %}

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="padding:20px 0px 0px 22px">
            <h5 class="card-title">
              {% if data.id %}
                템플릿 수정
              {% else %}
                템플릿 생성
              {% endif %}
              </h5>
          </div>
          <div class="card-body" >
            <div class="text-lg-end">                          
                <button id ="save" class="btn btn-outline-success">저장하기</button>
                {% if data.id %}
                  <button id ="list" class="btn btn-outline-primary">목록으로</button>
                {% endif %}
            </div>               
            <form>
              <div class="form-floating mb-3">
                <input type="text" class="form-control title" id="floatingInput1" placeholder="제목" value="{{ data.title }}">
                <label for="floatingInput1">제목</label>
              </div>              
            </form>            
            <div id="excelGrid">         
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block inline_javascript %}

<script src="{% static 'js/handsonTable.min.js' %}"></script>
<script src="{% static 'js/handsonTable.js' %}"></script>
<script src="{% static 'js/handsonLangKo.js' %}"></script>
<script>
    
  const container = document.querySelector('#excelGrid');
  const save = document.querySelector('#save');
  const list = document.querySelector('#list');
  var     id = "{{data.id}}";

  showExcelTable(container);

  function loadExcelData(id){
    $.ajax({        
      type : 'POST',
      url : "{% url 'frameJsonData' %}",        
      dataType : 'json',        
      data : {id:id},
      success : function(data) {

        let json_data = JSON.parse(data.data[0].fields.json_data.replace(/'/gi, "\""));  
        let style_data = data.data[0].fields.style_data;
        style_data = style_data.replace(/False/ig,"'False'").replace(/True/ig,"'True'");
        if(style_data !='') style_data = JSON.parse(style_data.replace(/'/gi, "\"")); 

        hot.loadData(json_data);
        $.each(style_data,function(idx,item){
          hot.setCellMetaObject(item.row, item.col, item);
        });
        hot.render();
      }
    }); 
  }

save.addEventListener('click', () => {
    $.ajax({        
      type : 'POST',
      url : "{% url 'frameViewSave' %}",        
      dataType : 'json',        
      data : {
        id:id,
        title:$('.title').val(),
        data: JSON.stringify(hot.getData()),
        style_data: JSON.stringify(hot.getCellsMeta())
      },
      success : function(data) {
        alert(data.msg)
        location.href="{% url 'frameLoadList' %}";
      }
    });          
  });

  if (id) {
    navFun('template',0,1);
    loadExcelData('{{ data.id }}');
  } else {
    navFun('template',0,0);
  }

  if(list){
    list.addEventListener('click', () => {
      history.back();
    });
  }

  
</script>
{% endblock inline_javascript %}